@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  align-items: center;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

header {
  display: block;
  text-align: center;
}

header h1 a {
  color: #333;
  text-decoration: none;
  font-size: 2.5rem;
}

header nav {
  display: block;
  list-style: none;
  border-style: solid;
  border-width: 0.1px 0px;
  border-color: #d0d0d0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  display: block;
  text-align: center;
  color: #666;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 15px;
  font-weight: 400;
  font-size: 20px;
}

nav ul li a:hover {
  color: #313131;
}

.post-date {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin: 20px 10px;
}

main h2 a {
  color: #666;
  text-decoration: none;
  text-align: left;
  margin-left: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
  color: #333;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #666;
}

/*===== large screen ==== */
@media only screen and (min-width: 768px) {
  header h1 a {
    font-size: 3.2rem;
  }

  nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: right;
  }

  nav ul li {
    margin: 0 30px;
  }

  nav ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 15px;
    font-weight: 500;
    font-size: 25px;
  }

  nav ul li a:hover {
    background-color: #00ddff;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  article {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-gap: 0;
  }

  .post-date {
    grid-column: 1;
    border-right: solid;
    border-width: 1px;
    border-color: #d0d0d0;
    padding-right: 20px;
  }

  .post-content {
    grid-column: 2;
    border-bottom: solid;
    border-width: 0.1px;
    border-color: #d0d0d0;
  }
}
